# ignore temp, backup, autosave, cache
*~
[#]*[#]
.\#*
auto-save-list
backups
.cache
.config
recent*

# ignore installed packages
elpa
network-security.data
anaconda-mode
emms
transient
var

# ignore project files
.projectile
projectile*
TODO.org
recentf
smex-items
tramp
.mc-lists.el

# ignore secrets
secrets
.*sync*
*.db*
/eww-bookmarks
/org-caldav-2e61f67.el
/.dir-locals.el
/user/.twittering-mode-user-info.gz
/.last-package-update-day
/abbrev_defs
/.org-id-locations
