# ignore temp, backup, autosave, cache
*~
[#]*[#]
.\#*
auto-save-list
backups
.cache
recent*

# ignore installed packages
elpa
network-security.data

# ignore project files
.projectile
projectile*
TODO.org
recentf
smex-items
tramp
.mc-lists.el

# ignore secrets
secrets
._sync_*
._sync_*
